/*вся шапка*/
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;  
}

/*контейнер навигации*/
.header_menu{    
}

/*список ссылок*/
.header_links-list{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 133px 36.52px 138px 50px;
    list-style: none;
    text-underline-offset: 4px; 
    max-width: 391.48px;   
}

/*каждый пункт в списке*/
.header_links-list-item {    
}

/*ссылкa без кружочка*/
.header_links-list-item_no-bullit{
    list-style-type: none;  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/*ссылкa c кружочkom*/
.header_links-list-item_yes-bullit{
    list-style-type: circle;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/*каждая ссылка в пункте списка*/
.header_link{   
}

/*выбранная ссылка меню (без подчёркивания)*/
.header_link_active{
    text-decoration: none;  
}


/*контейнер логотипа*/
.header_logo{      
}

/* картинка с логотипом*/
.header_logo-image{
    position: absolute;
    width: 148px;
    height: 105px;
    left: calc(50% - 148px/2 + 2px);
    top: 92px; 
}

/*общий класс для блока с адресом*/
.address{   
}


/*для выравнивания блока с адресом*/
.header_address {   
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px; 
    text-underline-offset: 4px;
    list-style-type: none;
    margin: 95px 50px 100px 184px;    
}

/*каждый пункт в списке*/
.header_address-item{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}














.cover{
    max-width: 1100px;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    

}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover_title {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    color: #FFF;
    /* identical to box height, or 115px */
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.accent-span_text-left {
    display: flex;
    width: 286px;
    height: 115px;
    position: absolute;
    top: 165px;
    left: 50px;
    justify-content: flex-start;
    align-items: center;
}

.accent-span_text-center {
    display: flex;
    width: 339px;
    height: 115px;
    position: absolute;
    top: 300px;
    left: 380.5px;
    justify-content: flex-start;
    align-items: center;
}

.accent-span_text-right {
    display: flex;
    width: 387px;
    height: 115px;
    position: absolute;
    top: 435px;
    left: 663px;
    justify-content: flex-start;
    align-items: center;

}


.lots{
    color: F5F5F5;

}

.about{
    color: blueviolet;
}