/*вся шляпа*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    width: 1100px;
    height: 293px;
    position: relative;
}

/*список ссылок*/
.header_links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 133px 36.52px 138px 50px;
    list-style: none;
    text-underline-offset: 4px; 
    max-width: 391.48px;   

}

/*ссылкa без кружочка*/
.header_links-list-item_no-bullit {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

/*ссылкa c кружочkom*/
.header_links-list-item_yes-bullit {
    list-style-type: circle;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

/*ссылка меню без подчёркивания*/
.header_link_active {
    text-decoration: none;  

}

.header_logo {
    grid-column: 2; 
    justify-self: center;

}

/* картинка с логотипом*/
.header_logo-image {
    position: absolute;
    width: 148px;
    height: 105px;
    left: 478px;
    top: 92px; 

}

/*для выравнивания блока с адресом*/
.header_address {   
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px; 
    text-underline-offset: 4px;
    list-style-type: none;
    margin: 95px 50px 100px 184px;    

}

/*каждый пункт в списке*/
.header_address-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;

}

/*погнали форсаж 1*/
.cover {
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

/*косим под джековича из элеона*/
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

}

/*заголовок*/
.cover_title {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    color: #FFF;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;

}

/*слова по уровням*/
.accent-span_text-left {
    display: flex;
    width: 286px;
    height: 115px;
    position: absolute;
    top: 165px;
    left: 50px;
    justify-content: flex-start;
    align-items: center;

}

.accent-span_text-center {
    display: flex;
    width: 339px;
    height: 115px;
    position: absolute;
    top: 300px;
    left: 380.5px;
    justify-content: flex-start;
    align-items: center;

}

.accent-span_text-right {
    display: flex;
    width: 387px;
    height: 115px;
    position: absolute;
    top: 435px;
    left: 663px;
    justify-content: flex-start;
    align-items: center;

}

/*нижняя строка*/
.cover_description {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;

}

.cover_description-text {
    display: block;
    position: absolute;
    white-space: nowrap;
    top: 668px;
    left: 50px;
    max-width: 637px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    word-spacing: 18.7px;
    align-content: center; 

}

/*кнопка казино*/
.bet-button {
    position: absolute;
    width: 256px;
    height: 51px;
    align-self: flex-start;
    text-align: center;
    text-transform: uppercase;
    top: 656px;
    left: 794px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.6px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;   

}

/*форсаж 2*/
.lots {   
    display: flex;
    flex-direction: column;   
    justify-self:center;   
    margin-top: 180px;
    width: 1052px;
    height: 723px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    position: relative; 

}

/* заголовок */
.lots_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    padding: 0 0 27px 40px;

}

/* список карточек */
.lots_card-list {
    display: flex;   
    justify-content: center;
    list-style: none;
    margin: 0; 
    gap: 25px;

}

.lots_card-list-item {
    position: relative;
    width: 334px;
    height: 596px; 

}

/* ссылка карточки */
.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;   

}

/* Карточка */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 334px;
    height: 596px;

}

/* заголовок карточки */
.card_title {       
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #fff;

}

/* текст карточки */
.card_text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    z-index: 10;

}

/* картинки на карточки */
.card_type_film {
    background: url(../images/card-lot-01.jpg) center/cover no-repeat;

}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center/cover no-repeat;

}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center/cover no-repeat;

}

/* Ссылка "посмотреть больше" */
.lots_look-more-link {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40px;
    bottom: 2px;
    width: 192px; 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: right;     

}

/* форсаж 3 */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    width: 1052px;
    height: 595px;
    margin: 120px auto 0; 

}

/* логотип */
.about_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    margin-top: 35px;
    margin-left: 47px;

}

/* картинка логотипа */
.about_logo-image {
    width: 148px;
    height: 114px;

}

/* заголовок  */
.about_title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    margin: 133px 0 100px 0; 
    padding-right: 0; 
    width: 100%;
    text-align: left; 

}

/* блок с текстом */
.about_text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 693px;
    height: 312px;
    text-align: left; 
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

}

/* подземелье */
.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: start;
    width: 1100px;
    height: 180px;
    margin: 180px auto 0;

}

/* адрес по аналу с шапкой */
.footer_address {   
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 264.57px; 
    height: 98px;
    text-underline-offset: 4px;
    list-style-type: none;
    margin-left: 50px;   

}

/*каждый пункт в списке*/
.footer_address-item {
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}

.footer_menu {
  display: flex;
  justify-content: center;
  width: 100%;

}

.footer_menu-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.footer_menu-list-item {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;

}

.footer_menu-link {
    text-transform: lowercase;
    text-underline-offset: 4px;

}

.footer_menu-link_active {
    text-decoration: none;

}

/* соц сети */
.footer_social-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin-right: 50px; 
    width: auto; 

}

/*для работы с картинками*/
.footer_social-list-item {
    width: 48px;
    height: 48px;

}

.footer_social-link {
    display: block;
    width: 100%;
    height: 100%;

}

.footer_social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
/*конец*/
