/*вся шапка*/
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;  
}

/*контейнер навигации*/
.header_menu{    
}

/*список ссылок*/
.header_links-list{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 133px 36.52px 138px 50px;
    list-style: none;
    text-underline-offset: 4px; 
    max-width: 391.48px;   
}

/*каждый пункт в списке*/
.header_links-list-item {    
}

/*ссылкa без кружочка*/
.header_links-list-item_no-bullit{
    list-style-type: none;  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/*ссылкa c кружочkom*/
.header_links-list-item_yes-bullit{
    list-style-type: circle;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/*каждая ссылка в пункте списка*/
.header_link{   
}

/*выбранная ссылка меню (без подчёркивания)*/
.header_link_active{
    text-decoration: none;  
}


/*контейнер логотипа*/
.header_logo{      
}

/* картинка с логотипом*/
.header_logo-image{
    position: absolute;
    width: 148px;
    height: 105px;
    left: calc(50% - 148px/2 + 2px);
    top: 92px; 
}

/*общий класс для блока с адресом*/
.address{   
}

/*для выравнивания блока с адресом*/
.header_address {   
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px; 
    text-underline-offset: 4px;
    list-style-type: none;
    margin: 95px 50px 100px 184px;    
}

/*каждый пункт в списке*/
.header_address-item{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}














.cover{
    color: blue;

}

.lots{
    color: F5F5F5;

}

.about{
    color: blueviolet;
}